<!-- scroll back to top using jquery and css -->
<!-- <a href="#" class="back-to-top">
 <i class="fa fa-angle-up"></i>
</a> -->
<!-- END scroll back to top using jquery and css -->  

 <footer class="section container-fluid  footer-color">
      <div class="container">
        <div class="row">
          <div class="footer-color1 clearfix footerPadding col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <!-- Links -->
            <div class=" textRight">
              <a href="https://www.facebook.com/YSNEAKERS.OFFICIAL/" title="Facebook" target="_blank"><img src="app/image/0003-facebook-logo.png"></a>
              <a href="https://www.instagram.com/ysneakers_official/" title="instagram" target="_blank"><img src="app/image/0002-instagram-logo.png"></a>
              <a href="http://www.diamond-walker.com/" title="Diamond Walker" target="_blank"><img src="app/image/0001-big-diamond.png"></a>
            </div>

            <!-- Copyright -->
            <div class="textLeft">
              <a class="footer2-copy" href="#" target="_blank">© YSNEAKERS</a>
            </div>
          </div>
        </div>
      </div>
    </footer>