
.navbar-inverse .navbar-toggler {
        border-color: transparent;
}

.navbar-inverse .navbar-toggler:hover {
    border-color: transparent;
}

.menu-button{
    cursor: pointer;
}


.sub-menu{
    display: none;
    padding: 0px;
}

.bar {
    position: relative;
    display: block;
    width: 23px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    border-radius: 0px;
    -webkit-transition: .3s;
    transition: .3s;
        
}
.opaque-navbar {
    background-color: transparent;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.nonopaque {
    background-color:#292b2c;
    transition: background-color .5s ease 0s;
}
.ysneakerLogo{
    width: 140px;
}

.footer2-soc-a li img, .textRight img{
    opacity:0.5;
}
  
.footer2-soc-a li img:hover, .textRight img:hover{
     opacity:1;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #292b2c; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* style menu items which have a submenu  */
.menuExpanded{
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  display: inline-block;
    top: 10px;
    position: relative;
}



#cd-lateral-nav .socials {
    padding: 0 32px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.footer-color, .footer-color1 {
    background: #303036;
    color: rgba(255,255,255, .7);
}

.footerPadding{
    padding: 30px;
}

.textRight{
    float: right;
}

.textRight a{
    padding: 5px;
    font-size: 14px;
    color: #6b6d6f;
}

.textLeft a {
    font-size: 14px;
    color: #6b6d6f;
    text-decoration: none;
    
}

/* Back to top scroll*/
.back-to-top {
    position: fixed;
    bottom: 16px;
    right: 19px;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
    z-index: 20;
    color: #323336;
    font-size: 24px;
    width: 37px;
    background: #fff;
    border-radius: 50%;
    text-align: center;  

}



.back-to-top:hover {    
   color: #97999c;
}