/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 @media (max-width: 540px){
     .smallAnimation{
    width: 300px;
    height: 240px;
    margin: auto;
    }
    .smallAnimation img{  
    width: 300px;
    } 
    .homeCTA {
    display: block;
    position: absolute;
    top: 20vh;
    } 
    .uniqueRotate h1{
        font-size: 2rem;
    }
    .homerotateanimation {
        font-size: 1rem;
        line-height: 2rem;
    }
    .indexNullaLeftImg{
        min-height: 400px;
        min-width: 400px;
    }
    .sneakerImages a img{
        width: 40%;
        margin: auto;
        display: flex;
    }
    .beCreativeSection{
        padding: 0.5rem;
        background-color: #dfdfdf;
    }
    #aboutImageRespon{
        padding:6rem 3rem;
    }

     #aboutImageRespon h1, .aboutMarginysneaker h1, .featuresectionPara h1, .uniquelyYouPara h1, .brandsectionPara h1{
        font-size: 1.8rem;
        line-height: 3.3rem;
     }

      #aboutImageRespon h1{
        
        line-height: 2.3rem;
     }


     #yourSneakersSection .listPadding img {
    width: 20px;
}

  #yourSneakersSection .listPadding h6 {
    font-size: .9rem;
}

#yourSneakersSection .listPadding .nav-link {
    
    padding: 6px;
}

#yourSneakersSection .pillsContent h1 {   
    font-size: 1.8rem;    
}

#yourSneakersSection .pillsContent h2 {   
    font-size: 1.3rem;    
}

/*#yourSneakersSection .productSliderShoe img {
    margin: auto;
}*/

.inspirationSlider p {
    padding-right: 0.6rem;
   
}
   /*  .aboutMarginysneaker h1 {
    font-size: 1.8rem;
    
}
.featuresectionPara h1 {
    font-size: 1.8rem;
    line-height: 3.3rem;
}

.uniquelyYouPara h1 {
    font-size: 1.8rem;
    line-height: 3.3em;
    
}

.brandsectionPara h1 { 
    font-size: 1.8rem;
    line-height: 3.3rem;
}*/

.aboutMarginysneaker {
    margin:1rem;
}


    .brandsectionPara {
        padding: 3rem 3rem;
    }
 }
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .smallAnimation{
    width: 300px;
    height: 240px;
    margin: auto;
    }
    .smallAnimation img{  
    width: 300px;
    } 
    .homeCTA {
    display: block;
    position: absolute;
    top: 20vh;
    } 
    .uniqueRotate h1{
        font-size: 2rem;
    }
    .homerotateanimation {
        font-size: 1rem;
        line-height: 2rem;
    }
    .indexNullaLeftImg{
        min-height: 400px;
        min-width: 400px;
    }
    .sneakerImages a img{
        width: 40%;
        margin: auto;
        display: flex;
    }
    .beCreativeSection{
        padding: 0.5rem;
        background-color: #dfdfdf;
    }
    #aboutImageRespon{
        padding:6rem 2rem 2rem 2rem
    }
    .brandsectionPara {
        padding: 3rem 3rem;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 .smallAnimation{
    width: 300px;
    height: 240px;
    margin: auto;
    }
    .smallAnimation img{  
    width: 300px;
    }
    .homeCTA {
    display: block;
    position: absolute;
    top: 30vh;
    }  
    .uniqueRotate h1{
        font-size: 3rem;
    }
    .homerotateanimation {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .indexNullaLeftImg{
        min-height: 800px;
        min-width: 100%;
    }
    .sneakerImages a img{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .beCreativeSection{
        padding: 3rem 2rem;
        background-color: #dfdfdf;
    }
    #aboutImageRespon{
        padding:12rem 4rem 4rem 3rem;
    }
    .brandsectionPara {
        padding: 6rem 3rem;
    }
    
    
    
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .homeCTA {
    display: block;
    position: absolute;
    top: 30vh;
    } 
    .uniqueRotate h1{
        font-size: 3rem;
    }
    .homerotateanimation {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .indexNullaLeftImg{
        min-height: 400px;
        min-width: 400px;
    }
    .sneakerImages a img{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .beCreativeSection{
        padding: 3rem 2rem;
        background-color: #dfdfdf;
    }
    #aboutImageRespon{
        padding:12rem 4rem 4rem 3rem;
    }
    .brandsectionPara {
        padding: 8rem 6rem;
    }
    
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .homeCTA {
    display: block;
    position: absolute;
    top: 30vh;
    } 
    .uniqueRotate h1{
        font-size: 3rem;
    } 
    .homerotateanimation {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .indexNullaLeftImg{
        min-height: 600px;
        min-width: 400px;
    }

    .indexNullaTitle {
   
    padding: 9rem 3rem 3rem 3rem;
}
    .sneakerImages a img{
        width: 100%;
        margin: auto;
        display: flex;
    }
    .beCreativeSection{
        padding: 3rem 2rem;
        background-color: #dfdfdf;
    }
    #aboutImageRespon{
        padding:12rem 4rem 4rem 3rem;
    }
    .brandsectionPara {
        padding: 8rem 6rem;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px){
.inspirationSlider p {
    padding-right: 1.6rem;

}
}
 